body{
    font-family:'Poppins', 'sans-serif';
}

@keyframes Fade_In{
    from {opacity: 0;}
    to {opacity: 1;}
}

#logo{
    animation: Fade_In 3s;
}

@media (prefers-reduced-motion){
    #logo{
        animation: none;
    }
}

header img{
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}

.nav_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;


}
.card{
    width: 100%;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    

}
.gallery img{
    width: 100%;
}

@media screen and (min-width: 700px){
    header img{
        width: 400px;
        height: auto;
        
    }

    header ,.nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }

    
    .card{
        width: 300px;


    }
    .pricing{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;

    }
    .gallery img{
        width: 300px;
    }

}